@{
    ViewData["Title"] = "Едовичок | О нас";
}

<main>
    <h1>О нас</h1>
    <p>«Едовичок» — это ваш надежный проводник в мире гастрономии! Мы создали этот проект для всех, кто, как и мы, жить не может без вкусной еды.</p>
    <p>Здесь вы найдете всё для вдохновения на кухне: от проверенных рецептов до новостей из мира food-индустрии. А наш ресторанный гид поможет выбрать идеальное место для ужина в городе.</p>
    <p>Готовьте с удовольствием, открывайте новое и будьте в курсе гастрономических трендов вместе с «Едовичком»!</p>
</main>
